@page "/"

<h1>Welcome to the PD</h1>

<div class="mission-briefing">
    <h2>Mission Briefing</h2>
    <p>
        The PlagiarismDetector is a powerful tool designed to ensure the uniqueness of your digital assets.
    </p>
    <p>
        By analyzing input files for matching patterns, this tool calculates a plagiarism score, giving you a percentage of the match found between two distinct codes.
    </p>
    <p>
        Select two C# code files and choose your n-gram size 
    </p>
    <br />
    <a href="/plagiarismdetector">Proceed to PlagiarismDetector</a>
</div>
