/* wwwroot/css/site.css */

/* Matrix-like styles */
body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

h1 {
    color: #0f0;
    text-align: center;
}

label {
    color: #0f0;
}

input[type="file"],
input[type="number"],
input[type="submit"] {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 5px;
    font-family: 'Courier New', monospace;
    outline: none;
}

    input[type="file"]::file-selector-button,
    input[type="submit"] {
        cursor: pointer;
    }

form {
    max-width: 400px;
    margin: 0 auto;
}

form, h3, p {
    text-align: center;
}

.result {
    color: #0f0;
    text-align: center;
}

a {
    color: #0f0;
    text-decoration: none;
}

/* Add matrix animation to simulate the falling code effect */
@keyframes matrix-fall {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to specific elements */
html, body, form, h1, label, input, h3, p, a {
    animation: matrix-fall 3s linear infinite;
}

/* Adjust font size for different screens */
@media (min-width: 768px) {
    html, body, form, h1, label, input, h3, p, a {
        font-size: 16px;
    }
}

html, body, form, h1, label, input, h3, p, a {
    animation: matrix-fall 3s linear 1;
}
